body{
    background-color: rgb(191, 47, 248);
    display: flex;
    margin: 0;
    flex-direction: column;
}

img {
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

header {
    display: flex;
    height: 4rem;
    background-color: rgb(96, 3, 150);
    color: rgb(250, 250, 250);
    padding-inline: calc(25vw - 10rem);
    column-gap: 2rem;
}

::before, ::after {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Comic Relief", system-ui;
    line-height: 28px;
    font-size: 17px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
}

header .logo {
    justify-self: center;
    font-family: "Oswald", sans-serif;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .nav {
    display: 1;
}

.nav {
    display: flex;
    column-gap: 2rem;
}

h2::before {
    content: "";
    margin-bottom: -0.2583333333em;
    display: table;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.type-label-lg::after {
    content: "";
    margin-bottom: -0.2583333333em;
    display: table;
}

p::before {
    content: "";
    margin-bottom: -0.4916666667em;
    display: table;
}

p::after {
    content: "";
    margin-bottom: -0.4916666667em;
    display: table;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
}

h3 {
    font-size: 1em;
    margin: 0.3em 0;
}

.nav .nav__tab.router-link-active {
    border-color: white;
}

.nav .nav__tab {
    padding-top: 2px;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    border-bottom: 4px solid transparent;
    transition: border-color 100ms ease;
}

.type-label-lg {
    font-family: "Comic Relief", system-ui;
    font-size: 1.5rem;
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased;
}

.nav .nav__tab:hover {
    border-color: white;
}

.nav .nav__actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav .nav__actions .nav__icon {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
}

.nav .nav__actions .nav__icon img {
    height: 1.5rem;
}

.nav .nav__actions .nav__icon:hover {
    background-color: rgba(255, 1, 192, 0.2);
}

.nav .nav__actions .nav__cta {
    margin-left: 1rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    color:rgb(34, 0, 156);
    border-radius: 0.5rem;
    transition: transform 100ms ease;
    box-shadow: 0px 1px 0.5rem 0 rgba(0, 0, 0, 0.5);
}

.nav .nav__actions .nav__cta:hover:not(:active) {
    transform: translateY(-2px);
}

main {
    display: block;
    unicode-bidi: isolate;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.left {
    max-width: 70%;
    min-width: 100%;
}

.fade {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.panel {
    font-family: "Comic Relief", system-ui;
    padding: 20px 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    position: relative;
    background: white;
    flex-grow: 1;
    overflow: hidden;
}

.flex {
    display: flex;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;
    flex-flow: row nowrap;
}

.flex:not(.no-stretch) > *:not(.no-stretch) {
    flex-grow: 1;
}

h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.thumb {
    max-width: 20%;
    min-width: 20%;
    background: black;
    background-size: cover;
}

.play {
    background: #536778;
    border-radius: 50% / 10%;
    color: #ffffff;
    font-size: 0.5em;
    height: 3em;
    margin: 0px auto;
    padding: 0;
    position: absolute;
    text-align: center;
    text-indent: 0.1em;
    transition: all 150ms ease-out;
    width: 4em;
    opacity: 0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play::before {
    background: inherit;
    border-radius: 5% / 50%;
    bottom: 9%;
    content: "";
    left: -5%;
    position: absolute;
    right: -5%;
    top: 9%;
}

.play::after {
    border-style: solid;
    border-width: 1em 0 1em 1.732em;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
    content: " ";
    font-size: 0.75em;
    height: 0;
    margin: -1em 0 0 -0.75em;
    top: 50%;
    position: absolute;
    width: 0;
}

.play:hover {
    background-color: rgb(255, 127, 217);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    padding-top: 1%;
    width: 100%;
    font-size: 0.8em;
    font-weight: inherit;
    text-align: center;
    background: #1C1E21;
    color: #ddd;
}

footer > * {
    margin: 10px 10px;
}

@media (max-width: 1023px) {
    .left {
        max-width: 100%;
        min-width: 100%;
    }
    .left {
        max-width: 100%;
        min-width: 100%;
    }
    .container {
        flex-wrap: wrap;
    }
    .thumb {
        max-width: 5%;
        min-width: 5%;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.9em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.1em;
    }
}
